name: "Tests"

on:
  pull_request:
  push:
    branches:         # array of glob patterns matching against refs/heads. Optional; defaults to all
      - master          # triggers on pushes that contain changes in master

jobs:
  test:
    runs-on: ['self-hosted']
    steps:
      - uses: zendesk/checkout@v2
      - run: npm ci
      - run: npm test
